{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="row">   
    
    {% for card in  goods %}
    <!-- Карта товара -->
    <div class="col-lg-4 col-md-6 p-4">
        <div class="card border-primary rounded custom-shadow">
            {% if card.image %}
            <img src="{{ card.image.url }}" class="card-img-top" alt="{{ card.name_recipe }}">
            {% else %}
            <img src="{% static 'deps/images/Not found image.png' %}" class="card-img-top" alt="{{ card.name_recipe }}">
            {% endif %}
            <div class="card-body">
                <a href="../goods/product.html">
                    <p class="card-title">{{ card.name_recipe }}</p>
                </a>
                <p class="card-text text-truncate">{{ card.description }}</p>
                
                <p class="product_id">{{ card.author }}</p>
                <div class="d-flex justify-content-between">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>
<!-- Пагинация -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4">
        <div class="custom-shadow d-flex">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
        </div>
    </ul>
</nav>

    
{% endblock %}
    
