{% extends 'base.html' %}
{% load static %}
        
</head>

<body>
    
    {% block content %}
    <div class= "bg-white mt-3 p-4 mb-4 rounded custom-shadow row">
    <h1 class="mt-5 pt-3 "><strong>Правильное питание как философия жизни!</strong></h1>
    <h2>"Питаться - это необходимость, но разумно питаться - это <br>
       искусство",— Франсуа VI де Ларошфуко.</h2><br>
     <p class='text-bg-light'>
        Правильное питание (ПП) поможет вам значительно улучшить качество жизни и чувствовать себя прекрасно, и хотя вести здоровый образ жизни может показаться трудным и скучным, на самом деле это не так. Приготовить полезную еду достаточно просто. Откажитесь от большого количества сахара, белой рафинированной муки и жира в повседневных рецептах. Жарку в большом количестве масла замените на запекание в духовке в собственном соку. Мы докажем, что полезная еда может быть еще и вкусной. Здесь собраны простые ПП рецепты на каждый день, на наш взгляд это идеальное решение для людей, которые ведут здоровый образ жизни.   Присоединяйтесь к нам и делитесь своими рецептами.<p>
    <br>
    
    <div class ='text-center'>
        <h3 class = 'text-bg-warning'>Питайтесь правильно!Готовьте с удовольствием! Приятного аппетита! </h3></div>
    </div>
    {% endblock %}

