{% extends 'main/base.html' %}
{% load static %}
        
</head>

<body>
    
    {% block content %}
    <h1 class="mt-5 pt-3"><strong>{{ content }}</strong></h1>
   
   {% for card in goods%}
  <!-- Карта товара -->
  <div class="col-lg-4 col-md-6 p-4 ">
      <div class="card border-primary rounded custom-shadow">
          <img src="{% static card.image %}" class="card-img-top" alt="...">
          <div class="card-body">
              <a href="#">
                  <p class="card-title">{{ card.name }}</p>
              </a>
              <p class="card-text text-truncate">{{card.post }}</p>
              <p class="product_id">id: 02265</p>
              <div class="d-flex justify-content-between">
        
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
  
    {% endblock %}
        
      
