{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded custom-shadow">
        <h2 class="text-center mb-4">Добавление рецепта</h2>
    
        <form action="{% url 'user:user_add_recipe' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="id_name_recipe" class="form-label">Название рецепта*</label>
              <input
                type="text"
                class="form-control"
                id="id_name_recipe"
                name="name_recipe"
                value="{% if form.name_recipe.value %}{{ form.name_recipe.value }}{% endif %}"
                placeholder="Введите название рецепта"required>
              {% if form.name_recipe.errors %}
              <div class="alert alert-danger alert-dismissible fade show">
                {{ form.name_recipe.errors }}
              </div>
              {% endif %}
            </div>
            <div class="col-md-6 mb-3">
              <label for="id_description" class="form-label">Описание*</label>
              <input
                type="text"
                class="form-control"
                id="id_dedescription"
                value="{% if form.description.value %}{{ form.description.value }}{% endif %}"
                name="description"
                placeholder="Введите описание"
                required>
                {% if form.description.errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                  {{ form.description.errors }}
                </div>
                {% endif %}
            </div>
            <div class="col-md-6 mb-3">
              <label for="id_ingredients" class="form-label">Ингредиенты*</label>
              <input
                type="text"
                class="form-control"
                id="id_ingredients"
                value="{% if form.ingredients.value %}{{ form.ingredients.value }}{% endif %}"
                name="ingredients"
                placeholder="Введите необходимые ингредиенты" required>
                {% if form.ingredients.errors %}<div class="alert alert-danger alert-dismissible fade show">{{ form.ingredients.errors }}</div>
                {% endif %}
            </div>
            <div class="col-md-6 mb-3">
              <label for="id_cooking_steps" class="form-label">Шаги приготовления*</label>
              <textarea cols="30" rows="20"
                class="form-control"
                id="id_cooking_steps"
                value="{% if form.cooking_steps.value %}{{ form.cooking_steps.value }}{% endif %}"
                name="cooking_steps"
                placeholder="Введите шаги приготовления" required></textarea>
                {% if form.cooking_steps.errors %}<div class="alert alert-danger alert-dismissible fade show">{{ form.cooking_steps.errors }}</div>
                {% endif %}
            </div>
            <div class="col-md-6 mb-3">
              <label for="id_cooking_time" class="form-label">Время приготовления*</label>
              <input
                class="form-control"
                id="id_cooking_time"
                value="{% if form.cooking_time.value %}{{ form.cooking_time.value }}{% endif %}"
                name="cooking_time"
                placeholder="Введите время приготовления в мин" required>
                {% if form.cooking_time.errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                  {{ form.cooking_time.errors }}
                </div>
                {% endif %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_image" class="form-label">Фотография*</label>
                {% if form.image  %}
                <img src="{{ recipe.image.url }}"
                    alt="Изображение приготовленного блюда" class="img-fluid rounded-circle"
                    style="max-width: 663px;">
                {% else %}
                <img src="{% static 'deps/images/Not found image.jpg' %}"
                alt="Изображение приготовленного блюда" class="img-fluid rounded-circle"
                style="max-width: 663px;">
                {% endif %}
                    <input type="file" class="form-control mt-3" id="id_image" name="image"
                        accept="image/*">
                        {% if form.image.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{ form.image.errors }}</div>
                        {% endif %}
                </div>
            <div class="col-md-6 mb-3">
                <label for="id_category" class="form-label">Категория*:</label>
                <select
                id="id_category"
                name="category"
                required>
                <option value="">--Выберите категорию--</option>
                <option  value="3">Выпечка и десерты</option>
                <option value="4">Супы</option>
                <option value="5">Паста и пицца</option>
                <option value="6">Салаты</option>
                <option value="7">Напитки</option>
                <option value="8">Завтраки</option>
            </select>
            </div>
            <div class="col-md-6 mb-3">
              <label for="author" class="form-label">Автор*</label>
              <input
                class="form-control"
                id="id_author"
                value="{{ user.id }}"
                name="author"
                required>
                </div>
                
          </div> 
          <button type="submit" class="btn btn-dark btn-block">
            Добавить рецепт
          </button>
        </form>
    </div>
    </div>
  </div>
</div>
{% endblock content %}
